
<div>
  <ul>
    
    <% @tasks.each do |task| %>
      <li><%= task.position %>.
        <%= task.body %>
      </li>
      <li><%= link_to "Edit Task", edit_task_path(task) %>
        <%= button_to "Delete", task_path(task), method: :delete, class: 'Task' %>
      </li>

    <% end %>
  </ul>
</div>
